<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kittu.bba">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Signupac" />
        <activity android:name=".Success" />
        <activity android:name=".NotablePlaces" />
        <activity android:name=".TechSearch" />
        <activity android:name=".AttractionsPage" />
        <activity android:name=".AttractionDetails" />
        <activity android:name=".JobSearch" />
        <activity android:name=".InternshipSearch" />
        <activity android:name=".TechEventSearch" />
        <activity android:name=".AvailableCompanies" />
        <activity android:name=".CompaniesDetails" />
        <activity android:name=".SportEvents" />
        <activity android:name=".SportsList" />
        <activity android:name=".StudentCatogiry" />
        <activity android:name=".TechEventDetails"></activity>
    </application>

</manifest>